
.overhead {
    display: flex;
    justify-content: center;
    padding: 4rem;
    color: rgb(119, 180, 236);
}

.card_image {
    height: 12rem;
    width: 100%;
    object-fit: cover;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit,
    minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;
}

.card {
    overflow: hidden;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
    background: rgb(79, 158, 231);
    color: rgb(24, 24, 24);
    /* padding: 1rem; */
}

.card_title {
    padding: 1rem;
    /* color: rgb(24, 24, 24) */
}

.card_details {
    padding: 0 1rem;
}

.card_btn {
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid;
    color: rgb(24, 24, 24);
    border-radius: 5px;
    transition: 200ms ease-in, color 200ms ease-in;
}

.card:hover {
    transform: scale(1.02);
}

.card_btn:hover {
    background: rgba(224, 217, 238, 0.678);
    /* color: rgb(161, 194, 15); */
}