@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200;1,600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: rgb(53, 107, 201);
}

img {
    max-width: 200px;
}

h1, h2 {
    margin-bottom: 15px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.header {
    background-color: rgba(27, 27, 27, 0.979);
    color: rgb(119, 180, 236);
    min-height: 400px;
}

.header h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.header img {
    max-width: 300px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boxes .container {
    display: flex;
    justify-content: space-between;
}

.box {
    flex: 1;
    background: rgb(27, 27, 27);
    color: rgb(119, 180, 236);
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 20px;
}

@media(max-width: 768px) {
    .header .container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }

    .boxes .container {
        display: block;
        text-align: center;
    }
}