@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200;1,600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* font-family: 'Nunito', sans-serif; */
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: rgb(27, 27, 27);
    /* background: rgba(44, 45, 46, 0.945); */
}

img {
    max-width: 200px;
}

.capstone .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.capstone {
    color: rgb(119, 180, 236);
    text-align: center;
    margin: 300px;
    
}

.capstone h1 {
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.2;
    padding-bottom: 20px;
}

.header img {
    max-width: 250px;
}

.capstone .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.capstone h4 {
    max-width: 600px;
    font-weight: bold;
}

.box {
    background: rgba(72, 158, 238, 0.993);
    color: rgb(24, 24, 24);
    border-radius: 10px;
    margin: 20px 10px;
    /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6); */
    padding: 15px 20px;
}

@media(max-width: 768px) {
    .header .container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }

    .boxes .container {
        display: block;
        text-align: center;
    }
}