.pbm-container{
    font-size: 20px;
    margin-bottom: 100px;
 }

.pbm-title{
    margin: 50px;
    text-align: center;
    color: rgb(119, 180, 236);
}

.pbm-info{
    color: rgb(119, 180, 236);
    text-align: center;
    margin-right: 40rem;
}

.pbm-btns{
    text-align: center;
    margin-left: 40rem;
}

.pbm-form{
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}

.pbm-hint{
    color: rgb(119, 180, 236);
}

.pbm-ans{
    color: rgb(119, 180, 236);
}

/* .pbm-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 40vh;
} */

/* .pbm-btn{
    padding: 5px;
    border: 2px solid gray;
    border-radius: 4px;
    margin: 10px;
}

.pbm-form{
    display: flex;
}

.pbm-element{
    margin: 5px;
}

.ans-input{
    text-align: center;
    border-radius: 5px;
    border: 1px solid gray;
} */