ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }

.navbar {
    background: #347fb1;
    padding: 1rem 1rem;
    box-shadow: 1px 2px 3px black;
    margin-bottom: 1rem;
    padding: 1.5rem 2rem;
}

li {
    font-size: 1rem;
}

.brand {
    cursor: pointer;
    font-size: 2rem;
}