@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200;1,600&display=swap');

/* REMINDER: add linear-gradient like the below */

body {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    /* background-color: #052f4b; */
    /* background: linear-gradient(
        rgb(148, 148, 55),
        #052f4b
    ) */
    /* Import image here maybe
    background-size: cover;
    background-position: center; */
   
}

