@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

/* REMINDER: add linear-gradient like the below */

body {
    background-color: #052f4b;
    /* background: linear-gradient(
        rgb(148, 148, 55),
        #052f4b
    ) */
    /* Import image here maybe
    background-size: cover;
    background-position: center; */
   
}

